<h1>Your Tasks:</h1>
<form action="">
  <ul>
    <% @tasks.each do |task| %>
      <li>
        <label>
          <% if task.completed == false %>
            <input type="checkbox" name=task[completed] disabled="true">
          <% else %>
            <input type="checkbox" name="task[completed]" checked="checked" disabled="true">
          <% end %>
          <%= link_to task.title, task_path(task) %>
        </label>
      </li>
    <% end %>
  </ul>
</form>
<%= link_to 'Create New Task', new_task_path %>
